*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #fafafa;
}
nav{
    background: #000;
    color: white;
    width: 100%;
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000000000;
}

.searchbar{
    position: relative;
    height: 35px;
}

input{
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    border-radius: 40px;
    border: none;
    outline: none;
}

.searchbar i{
    position: absolute;
    color: #000;
    top: 10px;
    left: 5px;
    font-size: 18px;
}
.links{
    display: flex;
    gap: 30px;
}
.links a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
}

.links .btnAccount{
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    transition: .5s;
}

.links .btnAccount:hover {
    background: #000;
}

.wrapper{
    position: relative;
    width: 400px;
    height: 520px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: hidden;
    transition: height .2s ease;
    margin-bottom: 50px;
    margin-top: 50px;
}
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: black;
    font-size: 1.5em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.wrapper .form-box{
    margin: auto;
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.register{
    position: absolute;
    transform: translateX(400px);
}
.form-box h2 {
    font-size: 25px;
    color: black;
    text-align: center;
}
.form-box h3{
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 350px;
    height: 50px;
    padding-left: 20px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: white;
    margin-left: -15px;
}
.input-box input::placeholder{
    text-align: left;
}
.input-box .icon{
    position: absolute;
    right: 5px;
    top: 25%;
}
.remember-forgot{
    font-size: 10px;
    margin: 15px 0 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.remember-forgot a:hover{
    color: rgb(220, 38, 38);
    text-decoration: underline;
}
.remember-forgot label{
    display: inline-flex;
}
input[type=checkbox]{
    transform: scale(1.2);
    padding: 10px;
    display: inline-block;
    margin-right: 10px;
}
.checkboxtext{
    font-size: 110%;
    margin-left: .2em;
}
.login-register{
    font-size: .9em;
    color: #000;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register a:hover{
    color: rgb(220, 38, 38);
    text-decoration: underline;
}
.btn{
    margin: auto;
    width: 100%;
    height: 45px;
    background-color: rgb(220, 38, 38);
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 545;
    color: white;
}
.btn:hover{
    background: rgb(0, 0, 0);
    transition: .5s ease-in-out;
}

.nav-2{
    background: white;
    color: black;
    display: flex;
    gap: 200px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

#submenu{
    margin-left: 50px;
}

.nav-2 p{
    font-weight: bold;
    text-transform: capitalize;
}

.nav-2 ul{
    list-style: none;
}

.nav-2 ul li{
    display: inline-block;
    position: relative;
}

.nav-2 ul li a{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

#submenu{
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
}

#submenu ul{
    list-style: none;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.nav-2 ul li:hover #submenu{
    display: block;
}

.nav-2 #submenu li a{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
}
.menu{
    width: 250px;
    background: white;
    position: absolute;
    right: 5%;
    top: 100%;
    z-index: 10000;
}
.hide{
    display: none;
}
.menu a{
    display: block;
    margin: 20px;
    text-decoration: none;
    color: grey;
    text-transform: capitalize;
}
.menu a:hover{
    color: #000;
}

footer{
    padding: 10px 5%;
    background: #000;
    color: #fff;
    bottom: 0;
    width: 100%;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.contact, .socials{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.copyright{
    text-align: center;
}

small{
    color: gray;
    font-size: 13px;
}

.second-nav{
    display: flex;
    justify-content: space-between;
    width: 700px;
    align-items: center;
}

.hamburger i{
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.hamburger{
    display: none;
}


@media (max-width:600px) {
    .hamburger{
        display: block;
    }
    .footer-container{
        flex-direction: column;
        gap: 30px;
    }
    .socials{
        flex-direction: row;
    }
    .contact{
        text-align: center;
    }
    .copyright{
        margin-top: 50px;
    }
    .second-nav{
        position: absolute;
        z-index: 10000000;
        top: -150px;
        padding: 20px;
        width: fit-content;
        background: white;
        color: #000;
        width: 300px;
        left: 24%;
        border-radius: 20px;
        flex-direction: column;
        transition: all .3s;
    }
    .links{
        flex-direction: column;
        gap: 10px;
        text-align: center;
        margin-top: 10px;
        color: #000;
    }
    .searchbar {
        width: 100%;
        outline: 2px solid black;
        border-radius: 40px;
    }
    .links a{
        color: #000;
        font-size: 14px;
    }
    .submenu{
        display: none;
    }

    .jobs{
        width: 100%;
    }
    .recommended{
        width: 100%;
        background: white;
        padding: 20px;
        border-radius: 70px;
    }
    .h3{
        font-size: 18px;
    }
    .btn-2{
        background: rgb(192, 192, 192);
    }
    .recommended p{
        font-size: 13px;
        font-weight: bold;
        margin-top: -5px;
        align-items: first baseline;
    }
    button{
        width: 100px;
        font-size: 10px;
    }
    .first{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container form{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 550px;
    height: 600px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    flex-wrap: wrap;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}
.container form h1{
    font-weight: 500;
    margin-top: 20px;
    width: 500px;
    text-align: center;
    font-size: 25px;
}
.container form input{
    width: 300px;
    height: 50px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: white;
}
.container form h4{
    font-weight: 500;
    width: 600px;
    margin-top: 20px;
    text-align: center;
}
.container form textarea{
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 10px;
    min-height: 130px;
    max-height: 90px;
    min-width: 480px;
    max-width: 480px;
}
.container form #button{
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 30px;
    height: 48px;
    width: 400px;
    background-color: rgb(220, 38, 38);
    transition: .5s;
    color: #fff;
}
.container form #button:hover{
    background: rgb(0, 0, 0);
    transition: .5s ease-in-out;
}
